* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* common */
a {
    text-decoration: none;
}
/* common */
.header {
    position: sticky;
    top: 0;
}

.main-content {
    width: 1170px;
    min-width: calc(100% - 270px);
    margin: 0px auto;
}

.header .body {
    display: flex;
    margin-top: 57px;
    align-items: center;
}

.header .logo {
    display: flex;
    margin-right: 235px;
}

.header .logo .image {
    margin-left: 5.91px;
}

.header .nav {
    display: flex;
    gap: 39px;
    margin-right: 177px;
}

.header .nav .item {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.header .action {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .action .sign-in a {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    line-height: normal;
}

.header .action .sign-up {
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .action .sign-up a {
    color: #1EBFC1;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

/* hero */
.hero .body {
    display: flex;
    margin-top: 62px;
    justify-content: space-between;
}

.hero .content-block {
    margin-top: 93px;
    width: 42.2%;
    /* margin-right: auto; */
}

.hero .content-block .comment {
    color: #767E7E;
    font-size: 1.4rem;
    line-height: normal;
}

.hero .content-block .title{
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-top: 18px;
}

.hero .content-block .des {
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    margin-top: 46px;
    width: 374px;
}

.hero .content-block .action {
    margin-top: 52px;
}

.media-block {
    margin-left: auto;
    width: 57.79%;
    /* padding-left: 136px; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

.hero .media-block .big-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .community .image .img {
    width: 33px;
    height: 33px;
}