* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* common */
a {
    text-decoration: none;
}

.heading-lv1{
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-top: 18px;
}

.heading-lv2 {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}
/* common */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

.main-content {
    width: 1170px;
    min-width: calc(100% - 270px);
    margin: 0px auto;
}

.header .body {
    display: flex;
    margin-top: 57px;
    align-items: center;
}

.header .logo {
    display: flex;
    margin-right: 235px;
}

.header .logo .image {
    margin-left: 5.91px;
}

.header .nav {
    display: flex;
    gap: 39px;
    margin-right: 177px;
}

.header .nav .item {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.header .action {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.header .action .sign-in a {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    line-height: normal;
}

.header .action .sign-up {
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .action .sign-up a {
    color: #1EBFC1;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

/* hero */
.hero {
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
    margin-top: 62px;
    justify-content: space-between;
}

.hero .content-block {
    margin-top: 93px;
    width: 45.2%;
    /* margin-right: auto; */
}

.hero .content-block .comment {
    color: #767E7E;
    font-size: 1.4rem;
    line-height: normal;
}


.hero .content-block .des {
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    margin-top: 46px;
    width: 374px;
}

.hero .content-block .action {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.hero .content-block .get-started {
    border-radius: 14px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    width: 186px;
    height: 68px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    padding: 20px 41px;
}

.hero .content-block .play{
    padding-top: 30px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.hero .content-block .action {
    margin-top: 52px;
}

.media-block {
    width: 54.8%;
    padding-left: 65px;
    position: relative;
}

.hero .media-block .big-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: auto;
    position: relative;
    background: #e0f7f6
}

.hero .media-block .quantity {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 25px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 157px;
    height: 75px;
    position: absolute;
    left: 25px;
    top: 149px;
}

.hero .media-block .analys {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 453px;
}

.hero .media-block .analys .title {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.hero .media-block .analys .amount1{
    margin-top: 16px;
}

.hero .media-block .analys .amount2 {
    margin-top: 12px;
}

.hero .media-block .analys .amount3 {
    margin-top: 10px;
}

.hero .media-block .analys .amount4 {
    margin-top: 16px;
}

.hero .media-block .community {
    display: inline-block;
    padding: 17px 35px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 389px;
    top: 500px;
}

.hero .media-block .community .title{
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .community .image .img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 8px;
}

.hero .community .image .img+.img {
    margin-left: -7px;
}

/* feature */
.feature {
    margin-top: 130px;
}

.feature .big-title {
    width: 577px;
    line-height: 1.33;
    font-size: 4.2rem;
}

.feature .des {
    width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
    margin-top: 18px;
}

.feature .feature-list {
    margin-top: 80px;
    display: flex;
}

.feature .feature-item .title {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.feature .feature-item .des {
    margin-top: 16px;
    color: #9DA6A5;
    line-height: 1.68;
    font-size: 1.6rem;
}

.feature .feature-item:first-child .des {
    max-width: 168px;
    margin-right: 209px;
} 

.feature .feature-item:nth-child(2) .des {
    max-width: 223px;
    margin-right: 200px;
}

.feature .feature-item:nth-child(3) .des {
    max-width: 224px;
}